<div
  class="w-full rounded-3xl h-full flex flex-col justify-center items-center gap-2 md:gap-4 text-center"
  style="background-image: url('/images/background/slider-3.png'); background-size: cover; background-position: center"
>
  <h1 class="text-sm md:text-2xl lg:text-5xl font-semibold w-120">ГАРАНТИЯ ОРИГИНАЛЬНОСТИ</h1>
  <p class="text-xs md:text-base w-60 md:w-120">Мы гарантируем оригинальность товаров, заказанных через наш сервис, расскажем, почему вы можете быть уверены в этом:</p>
  <button class="sn-btn w-40 md:w-80">
    Перейти
  </button>
</div>
