<div class="flex w-full items-center gap-1">
  <span class="flex px-3 py-0.5 bg-gray-100 rounded-xl text-nowrap w-24">От {{productFilterStore.minMaxControl()?.[0] | tuiFormatNumber | async}} р.</span>
  <tui-range
    size="m"
    [(ngModel)]="productFilterStore.minMaxControl"
    [max]="productFilterStore.maxPrice()"
    [min]="productFilterStore.minPrice()"
    class="w-full"
    [style.--tui-thickness.rem]="0.5"
    [style.--tui-background-accent-1]="'#222'"
  />
  <span class="flex px-3 py-0.5 bg-gray-100 rounded-xl text-nowrap w-24">До {{productFilterStore.minMaxControl()?.[1] | tuiFormatNumber | async}} р.</span>
</div>
