<div class="container mb-10 mt-5 md:mt-0">
  <tui-breadcrumbs class="mb-4">
      <a
        *tuiItem
        tuiLink
        routerLink="/"
      >
        Главная
      </a>
      <a
        *tuiItem
        tuiLink
        class="!text-primary"
      >
        Оформление заказa
      </a>
  </tui-breadcrumbs>

  <div class="w-full flex flex-col gap-4 md:w-2/3 lg:w-200">
    <h1 class="w-full text-center md:text-start text-xl md:text-3xl font-bold text-primary mb-2">Оформление заказa</h1>

    <div class="p-4 border flex flex-col gap-3 w-full border-gray-200 rounded-xl">
      @for (cart of carts().results; track cart.id) {
        <div class="w-full flex gap-4 border-b border-gray-200 last:border-b-0 pb-4 last:pb-0 relative h-40">
          <div
            routerLink="/product/detail/{{cart.product.spuId}}"
            class="w-40 h-full rounded-xl bg-gray-200 px-2 cursor-pointer"
          >
            <img
              [src]="cart.product.first_image"
              style="mix-blend-mode: multiply;"
              class="flex w-full h-full object-contain"
              alt=""
            >
          </div>

          <div class="flex flex-col justify-between w-full relative">
            <div class="flex flex-col">
              <span class="text-base md:text-xl font-semibold">{{ cart.product.brand }}</span>
              <span class="text-xs md:text-base text-gray-500 mb-2">{{cart.product.name}}</span>
              <div class="flex gap-6 items-center">
                <span class="text-sm md:text-base mb-1 font-semibold">Размер: EU {{ cart.size }}</span>
              </div>
              <span class="text-xs md:text-sm">Стандартная доставка 20-25 дней</span>
            </div>

            <span class="text-lg md:text-xl lg:text-3xl font-bold text-primary">{{ cart.sku.price | tuiFormatNumber | async}} р.</span>
          </div>
        </div>
      }
    </div>

    <h3 class="text-lg md:text-2xl font-semibold" id="form">Способ доставки</h3>
    <delivery-type-inputs [readonly]="true" (openModal)="openModal()" />
    <h3 class="text-lg md:text-2xl font-semibold">Получатель</h3>
    <div class="grid grid-cols-2 gap-4">
      <div class="sn-control">
          <span class="sn-control-icon">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
        <input type="text" placeholder="Фамилия">
      </div>
      <div class="sn-control">
          <span class="sn-control-icon">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
        <input type="text" placeholder="Имя">
      </div>
      <div class="sn-control">
          <span class="sn-control-icon">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
        <input type="text" placeholder="Отчество">
      </div>
      <div class="flex gap-2 items-center">
        <input
          tuiCheckbox
          type="checkbox"
          [ngModel]="false"
        />
        <span>Нет отчества</span>
      </div>
      <div class="sn-control col-span-2">
          <span class="sn-control-icon">
            <icon-list icon="call"/>
          </span>
        <input type="text" placeholder="Номер телефона">
      </div>
      <span class="border-b border-gray-200 col-span-2"></span>
      <div class="sn-control col-span-2">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <input type="text" placeholder="Дата рождения">
      </div>
      <div class="sn-control">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <input type="text" placeholder="Серия паспорта">
      </div>
      <div class="sn-control">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <input type="text" placeholder="Номер паспорта">
      </div>
      <div class="sn-control col-span-2">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <input type="text" placeholder="Дата выдачи паспорта">
      </div>
      <div class="sn-control col-span-2">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <textarea rows="3" placeholder="Кем выдан"></textarea>
      </div>
      <div class="sn-control col-span-2">
          <span class="sn-control-icon">
            <icon-list icon="calendar"/>
          </span>
        <input type="number" placeholder="Код подразделения">
      </div>
    </div>
    <div class="flex gap-2">
      <div class="flex flex-col gap-1">
        <div class="flex relative items-center">
          <span class="flex mt-1 mr-3 min-w-6 h-6 justify-center items-center border border-primary rounded">
            <i class="fa fa-info" aria-hidden="true"></i>
          </span>
          <span class="text-lg font-semibold text-wrap max-w-[80%]">Зачем мои паспортные данные?</span>

          <button class="flex h-6 w-6 items-center justify-center absolute right-0 top-1/2 -translate-y-1/2 cursor-pointer" (click)="hideText.set(!hideText())">
            <icon-list [icon]="hideText() ? 'plus' : 'minus'" />
          </button>
        </div>
        <div
          class="pl-10 overflow-hidden duration-300"
          [class.max-h-0]="hideText()"
          [class.max-h-70]="!hideText()"
        >
          <p>Все посылки в рамках международных отправлений проходят процедуру таможенного оформления. Для товаров личного пользования используется реестр экспресс-грузов, который, согласно приказу ФТС(федеральная таможенная служба) №1060 от 05.07.18, должен содержать в себе сведения о документе, удостоверяющем личность физического лица – паспортные данные и ИНН. Sneaker Team действует в рамках таможенного законодательства и организует процесс сбора паспортных данных в личном кабинете на сайте. Мы не храним паспортные данные, вся информация передается по безопасным каналам связи.</p>
        </div>
      </div>
    </div>
    <span class="border-b border-gray-200 col-span-2"></span>

    <div class="sn-control mt-2">
      <span class="sn-control-icon">
        <icon-list icon="promocode"/>
      </span>
      <input type="number" placeholder="Промокод">
    </div>
    <div class="flex w-full justify-between items-center">
      <span class="text-sm md:text-lg">У вас есть <strong>356 Sneaker Coins</strong>. Списать?</span>
      <input
        tuiSwitch
        type="checkbox"
        [showIcons]="false"
        [ngModel]="false"
        size="m"
      />
    </div>
    <div class="flex w-full justify-between items-center">
      <span class="text-sm md:text-lg">Сплит: Половину оплачиваете сейчас, а вторую половину после того, как мы пришлём Вам фото отчёт заказа со склада в Китае</span>
      <input
        tuiSwitch
        type="checkbox"
        [showIcons]="false"
        [ngModel]="false"
        size="m"
      />
    </div>
    <span class="border-b border-gray-200 col-span-2"></span>
    <div class="sn-control">
      <textarea placeholder="Комментарий к заказу (не обязательно)" rows="4"></textarea>
    </div>
    <div class="flex w-full justify-between items-center">
      <span>Товары</span>
      <span>40 900 р.</span>
    </div>
    <div class="flex w-full justify-between items-center">
      <span class="text-xl font-semibold">Итого</span>
      <span class="text-xl font-semibold">40 900 р.</span>
    </div>
    <button class="sn-btn !py-4">Оплатить</button>
    <p class="text-xs text-gray-500">
      Нажимая «Оплатить», вы соглашаетесь с условиями Пользовательского соглашения
      @if (openMoreInfo()) {
        , Политики обработки персональных данных и файлов Cookie, Правила совершения платежей и возврата оплаты, соглашаетесь на получение рекламно-информационных материалов
      } @else {
        <span class="underline cursor-pointer hover:text-gray-700" (click)="openMoreInfo.set(true)">подробнее</span>
      }

    </p>
  </div>
</div>

<delivery-place class="hidden md:block" [(open)]="openDeliveryPlace" />
