<div class="flex gap-2">
  <span class="text-nowrap">Шаг 3 из 4:</span>
  <p>Выберите размер и укажите цену в юанях с бирюзовой кнопкой.</p>
</div>

<div class="my-4 flex gap-4">
  <span class="text-nowrap">Цена ¥:</span>
  <input type="text" class="sn-control !border !border-gray-200 w-10 h-10 placeholder:text-gray-500" [(ngModel)]="price" placeholder="0">
</div>

<div class="flex justify-center w-full">
  <img ngSrc="images/home/poizon-calculate-3.png" alt="" class="w-auto h-80 object-contain" height="740" width="1234">
</div>

<div class="flex justify-center items-center mt-4 gap-2">
  <button class="sn-btn !h-14 gray" (click)="previous.emit()">Назад</button>
  <button class="sn-btn !h-14 w-1/3" [disabled]="!price()" (click)="next.emit()">Далее</button>
</div>
