<form class="flex flex-col w-full items-center gap-8" [formGroup]="form" (ngSubmit)="close()">
  <h1 class="text-2xl font-semibold text-center md:w-2/3">Поделитесь впечатлениями о покупке и получите 500 Sneaker
    Coins</h1>

  <div class="flex gap-4 text-2xl md:text-5xl">
    <div class="cursor-pointer" (click)="setStar(1)">
      <i
        class="fa"
        [class.fa-star-o]="form.controls.star.value < 1"
        [class.fa-star]="form.controls.star.value >= 1"
      ></i>
    </div>
    <div class="cursor-pointer" (click)="setStar(2)">
      <i
        class="fa"
        [class.fa-star-o]="form.controls.star.value < 2"
        [class.fa-star]="form.controls.star.value >= 2"
      ></i>
    </div>
    <div class="cursor-pointer" (click)="setStar(3)">
      <i
        class="fa"
        [class.fa-star-o]="form.controls.star.value < 3"
        [class.fa-star]="form.controls.star.value >= 3"
      ></i>
    </div>
    <div class="cursor-pointer" (click)="setStar(4)">
      <i
        class="fa"
        [class.fa-star-o]="form.controls.star.value < 4"
        [class.fa-star]="form.controls.star.value >= 4"
      ></i>
    </div>
    <div class="cursor-pointer" (click)="setStar(5)">
      <i
        class="fa"
        [class.fa-star-o]="form.controls.star.value != 5"
        [class.fa-star]="form.controls.star.value === 5"
      ></i>
    </div>
  </div>
  @if (form.controls.star.touched && form.controls.star.invalid) {
    <span class="sn-error">Оцените покупку</span>
  }

  <div class="w-full md:w-[80%] flex flex-col gap-4">
    <div class="flex gap-4">
      <div class="min-w-1/2 flex flex-col gap-1">
        <div class="sn-control w-full">
          <span class="sn-control-icon">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
          <input type="text" formControlName="name" placeholder="Введите имя">
        </div>
        @if (form.controls.name.touched && form.controls.name.invalid) {
          <span class="sn-error">Заполните поле</span>
        }
      </div>
      <div class="sn-control w-1/2">
        <span class="sn-control-icon">{{ '@' }}</span>
        <input type="text" formControlName="email" placeholder="Введите свой ник из Telegram">
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <div class="sn-control">
        <icon-list icon="comment"/>
        <textarea name="" placeholder="Напишите отзыв" formControlName="comment" id="" cols="30" rows="3"></textarea>
      </div>
      @if (form.controls.comment.touched && form.controls.comment.invalid) {
        <span class="sn-error">Пожалуйста, напишите что-нибудь о вашем опыте покупки или о продукте</span>
      }
    </div>

    <div class="w-full bg-gray-100 rounded flex justify-center items-center gap-2 py-3 cursor-pointer" (click)="fileInput.click()">
      <icon-list icon="link"/>
      <span>Прикрепить фото (максимум 3)</span>
    </div>

    <input type="file" accept="image/*" class="hidden" multiple #fileInput max="3" (change)="onFileChange($event)">

    <div class="flex gap-2">
      @for (image of images(); track image) {
        <div class="relative">
          <img [src]="image" alt="" class="w-20 h-20 object-cover rounded-lg">
          <span class="absolute -top-2 -right-2 text-base cursor-pointer" (click)="removeImage($index)">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </span>
        </div>
      }
    </div>

  </div>

  <button class="sn-btn w-full md:w-2/3" [disabled]="form.invalid">Опубликовать</button>
</form>
