<div class="w-full bg-secondary rounded-2xl relative h-[500px] hidden md:block">
  <span class="absolute right-4 top-4 z-10 cursor-pointer">
    <tui-icon
      [icon]="isFavorite() ? '@tui.heart-filled' : '@tui.heart'"
      (click)="clickFavor()"
    />
  </span>
  <button
    [disabled]="disablePrevious()"
    (click)="previous()"
    class="absolute top-1/2 left-5 -translate-y-1/2 text-3xl cursor-pointer disabled:opacity-50 z-10"
  >
    <i class="fa fa-angle-left"></i>
  </button>
  <image-zoom
    [urlImage]="images()?.[activeIndex()]"
    styles="mix-blend-mode: multiply;"
    classes="h-full w-full object-contain"
  />
  <button
    (click)="next()"
    [disabled]="disableNext()"
    class="absolute top-1/2 right-5 -translate-y-1/2 text-3xl cursor-pointer disabled:opacity-50"
  >
    <i class="fa fa-angle-right"></i>
  </button>

</div>

<div class="relative md:hidden">
  <span class="absolute left-4 top-4 z-10">
    <a
      [routerLink]="['/product', detail().fit?.toLowerCase(), detail().category?.full_slug]"
      class="text-primary"
      > < В каталог</a>
  </span>
  <span class="absolute right-4 top-4 z-10">
    <tui-icon
      [icon]="isFavorite() ? '@tui.heart-filled' : '@tui.heart'"
      (click)="clickFavor()"
    />
  </span>
  <div
    #mobileScrollContainer
    (click)="openModal()"
    class="w-full bg-secondary h-90 flex overflow-x-auto py-4 hidden-scrollbar snap-x snap-mandatory"
  >
    @for (image of images(); track $index) {
      <img
        [src]="image"
        alt="product image item"
        class="min-w-full w-full h-full object-contain snap-center mix-blend-multiply px-2"
      >
    }
  </div>
  <div class="absolute bottom-0 left-0 right-0 flex justify-center py-4 w-full">
    @for (_ of images(); track $index) {
      <div
        class="w-14 h-[5.6px] transition-colors duration-300 cursor-pointer -mr-2"
        [class.bg-gray-300]="activeIndex() !== $index"
        [class.bg-gray-900]="activeIndex() === $index"
        [class.cursor-default]="activeIndex() === $index"
        [style.clip-path]="'polygon(10% 0, 100% 0, 90% 100%, 0 100%)'"
        (click)="setActiveIndex($index)"
      ></div>
    }
  </div>
</div>

<div class="w-full hidden md:flex gap-2 mt-4 h-[100px] overflow-x-auto hidden-scrollbar">
  @for (image of images(); track $index) {
    <div
      #thumb
      class="w-1/4 min-w-1/4 bg-secondary rounded-md h-full cursor-pointer"
    >
      <img
        [src]="image"
        (click)="setActiveIndex($index)"
        alt="product image item"
        [style.mix-blend-mode]="'multiply'"
        class="w-full h-full object-contain"
        [class.opacity-50]="activeIndex() !== $index"
      >
    </div>
  }
</div>


@if (isOpen()) {
  <div
    class="image-modal bg-white!"
  >
    <button
      (click)="closeModal()"
      class="fixed top-2 right-2"
    >
      <icon-list icon="close" />
    </button>
    <img
      alt=""
      [src]="images()?.[activeIndex()]"
      class="modal-image mix-bland-multiply"
      (click)="$event.stopPropagation()"
    />
  </div>

}
