<div class="w-full bg-secondary rounded-2xl relative h-[500px]">
  <button
    [disabled]="disablePrevious()"
    (click)="previous()"
    class="absolute top-1/2 left-5 -translate-y-1/2 text-3xl cursor-pointer disabled:opacity-50 z-10"
  >
    <i class="fa fa-angle-left"></i>
  </button>
  <img
    [src]="images()?.[activeIndex()]"
    class="h-full w-full object-contain mix-blend-mode"
    [style.mix-blend-mode]="'multiply'"
    alt="product image"
  >
  <button
    (click)="next()"
    [disabled]="disableNext()"
    class="absolute top-1/2 right-5 -translate-y-1/2 text-3xl cursor-pointer disabled:opacity-50"
  >
    <i class="fa fa-angle-right"></i>
  </button>
</div>

<div class="w-full flex gap-2 mt-4 h-[100px] overflow-x-auto hidden-scrollbar">
  @for (image of images(); track $index) {
    <div
      #thumb
      class="w-1/4 min-w-1/4 bg-secondary rounded-md h-full cursor-pointer"
    >
      <img
        [src]="image"
        (click)="setActiveIndex($index)"
        alt="product image item"
        [style.mix-blend-mode]="'multiply'"
        class="w-full h-full object-contain"
        [class.opacity-50]="activeIndex() !== $index"
      >
    </div>
  }
</div>
