<div
  class="w-full rounded-3xl h-full p-3 md:p-4 flex flex-col justify-between"
  style="background-image: url('/images/background/slider-4.png'); background-size: cover; background-position: center"
>
  <div>
    <h3 class="text-xs md:text-3xl font-semibold">Встречайте</h3>
    <h2 class="text-sm md:text-6xl font-bold uppercase">Sneaker Team</h2>
  </div>

  <div class="grid grid-cols-3 gap-1 md:gap-4 md:pr-10">
    <div class="meet-team-item">
      <img ngSrc="images/home/meet-rate-1.png" width="160" height="160" class="meet-team-image" alt="">
      <p class="text-[5px] md:text-lg">Личный кабинет с полной информацией по статусу заказа</p>
    </div>
    <div class="meet-team-item">
      <img ngSrc="images/home/meet-rate-2.png" width="160" height="160" class="meet-team-image" alt="">
      <p class="text-[5px] md:text-lg">Удобный каталог со всей информацией с ценами в рублях</p>
    </div>
    <div></div>

    <div class="meet-team-item">
      <img ngSrc="images/home/meet-rate-3.png" width="160" height="160" class="meet-team-image" alt="">
      <p class="text-[6px] md:text-lg">Оповещение о статусе заказа в Telegram</p>
    </div>
    <div class="meet-team-item">
      <img ngSrc="images/home/meet-rate-4.png" width="160" height="160" class="meet-team-image" alt="">
      <p class="text-[6px] md:text-lg">Огромный ассортимент: более 4 млн. оригинальных товаров</p>
    </div>
    <div class="meet-team-item">
      <img ngSrc="images/home/meet-rate-5.png" width="160" height="160" class="meet-team-image" alt="">
      <p class="text-[6px] md:text-lg">Разделы “Корзина” и “Избранное”</p>
    </div>
  </div>
</div>
