<div
  class="w-full rounded-3xl h-full p-4 flex flex-col justify-between"
  style="background-image: url('/images/background/slider-4.png'); background-size: cover; background-position: center"
>
  <div>
    <h3 class="text-3xl font-semibold">Встречайте</h3>
    <h2 class="text-6xl font-bold uppercase">Sneaker Team</h2>
  </div>

  <div class="grid grid-cols-3 gap-4 pr-10">
    <div class="bg-white rounded-xl px-4 h-24 flex items-center gap-4 border border-[#FFDABF]">
      <img ngSrc="images/home/meet-rate-1.png" width="160" height="160" class="h-10 w-10 object-contain" alt="">
      <p class="text-lg">Личный кабинет с полной информацией по статусу заказа</p>
    </div>
    <div class="bg-white rounded-xl px-4 h-24 flex items-center gap-4 border border-[#FFDABF]">
      <img ngSrc="images/home/meet-rate-2.png" width="160" height="160" class="h-10 w-10 object-contain" alt="">
      <p class="text-lg">Удобный каталог со всей информацией с ценами в рублях</p>
    </div>
    <div></div>

    <div class="bg-white rounded-xl px-4 h-24 flex items-center gap-4 border border-[#FFDABF]">
      <img ngSrc="images/home/meet-rate-3.png" width="160" height="160" class="h-10 w-10 object-contain" alt="">
      <p class="text-lg">Оповещение о статусе заказа в Telegram</p>
    </div>
    <div class="bg-white rounded-xl px-4 h-24 flex items-center gap-4 border border-[#FFDABF]">
      <img ngSrc="images/home/meet-rate-4.png" width="160" height="160" class="h-10 w-10 object-contain" alt="">
      <p class="text-lg">Огромный ассортимент: более 4 млн. оригинальных товаров</p>
    </div>
    <div class="bg-white rounded-xl px-4 h-24 flex items-center gap-4 border border-[#FFDABF]">
      <img ngSrc="images/home/meet-rate-5.png" width="160" height="160" class="h-10 w-10 object-contain" alt="">
      <p class="text-lg">Разделы “Корзина” и “Избранное”</p>
    </div>
  </div>
</div>
