<h1 class="text-xl md:text-2xl font-semibold mb-2 md:mb-6">Гарантия на оригинальность</h1>

<p class="mb-2 text-primary">Мы гарантируем оригинальность товаров, заказанных через наш сервис, и сейчас расскажем, почему вы можете быть уверены в этом.</p>

<ul class="list-disc ml-4 gap-2 flex flex-col">
  <li>
    <strong>Проверенный поставщик.</strong>
    Для начала стоит сказать, что мы делаем выкуп товаров исключительно через проверенный временем маркетплейс Poizon, который зарекомендовал себя как надежный поставщик оригинальных товаров.
  </li>
  <li>
    <strong>Контроль на каждом этапе.</strong>
    Мы не доверяем выкуп товаров посредникам, так как считаем этот процесс одним из самых ответственных. Поэтому процесс выкупа мы осуществляем самостоятельно, чтобы гарантировать подлинность каждой покупки.
  </li>
  <li>
    <strong>Индивидуальный подход.</strong>
    К каждому выкупленному товару мы прикладываем отчёт, который подтверждает, что товар был приобретён именно под ваш индивидуальный запрос.
  </li>
</ul>

<div class="border-black/40 border rounded-md px-2 md:px-4 py-2 w-full mt-6 md:mt-8 flex gap-2 md:gap-8">
  <icon-list icon="warning-primary" />
  <p>
    Если товар не проходит любой из этапов проверки — он не попадает в наш ассортимент. Мы гарантируем, покупая у нас, ты получишь 100% оригинальную вещь.
  </p>
</div>
