<div class="container text-white">
  <div class="w-container">
    <div class="justify-between grid grid-cols-1 md:grid-cols-12 gap-10">

      <div class="flex flex-col w-container gap-4 md:col-span-8 lg:col-span-4">
        <div class="w-full">
          <h3 class="text-3xl font-bold">
            <a href="tel:+79170450892">+7 917 045 08 92</a>
          </h3>
          <span class="text-gray text-sm">Телефон службы заботы, 12:00 - 20:00 мск</span>
        </div>

        <div class="flex flex-col gap-2 w-full">
          <span class="text-gray text-sm max-w-[80vw] w-90">Для тех, кому удобнее общаться в мессенджерах, пишите в специальный чат</span>
          <div class="flex gap-6">
            <a href="https://t.me/sneaker_team_bot" target="_blank" class="border-b border-gray-400">Telegram</a>
            <a href="https://wa.me/79170450892" target="_blank" class="border-b border-gray-400">WhatsApp</a>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <span class="text-gray text-sm">Почта для вопросов и предложений</span>
          <a href="mailto:info@sneakerteam.ru">
            <span class="border-b pb-1 border-gray-400">info{{ '@' }}sneakerteam.ru</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-4 md:col-span-4 lg:col-span-2">
        <h4 class="text-2xl font-bold w-full">Информация</h4>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/payment">Доставка и оплата</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/original-certificate">Гарантия оригинальности</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/question-and-answers">Вопрос-ответ</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/choose-size">Как выбрать размер</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/gift-certificate">Подарочный сертификат</span>
      </div>

      <div class="flex flex-col gap-4 md:col-span-4 lg:col-span-2">
        <h4 class="text-2xl font-bold w-full">Компания</h4>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/contact">Контакты</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/application">Приложение</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/reviews">Отзывы</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/personal-data">Политика конфендициальности</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/user-agreement">Пользовательское соглашение</span>
        <span class="text-sm text-gray font-semibold w-full cursor-pointer" routerLink="/information/payment-and-rules">Правила совершения платежей</span>
      </div>

      <div class="flex flex-col gap-4 md:items-end md:col-span-8 lg:col-span-4">
        <div class="flex gap-4 items-center">
          <a href="https://t.me/sneaker_team_bot" target="_blank" class="cursor-pointer">
            <icon-list icon="telegram" />
          </a>
          <a href="https://www.youtube.com/@sneakerteamru" target="_blank" class="cursor-pointer">
            <icon-list icon="youtube" />
          </a>
          <a href="https://www.instagram.com/sneakerteam.ru?igsh=NGxpcm96NWszMm15" target="_blank" class="cursor-pointer">
            <icon-list icon="instagram" />
          </a>
        </div>
        <span class="text-sm text-gray md:text-end max-w-[80vw] w-90">*Meta Platforms Ins. признана экстремистской организацией и запрещена в РФ</span>
      </div>
    </div>
  </div>
</div>
