<tui-tabs
  [(activeItemIndex)]="activeItemIndex"
  (activeItemIndexChange)="onChangeIndex()"
>
  @for (size of sizeTable(); track $index) {
    <button
      tuiTab
      type="button"
    >
      {{size.type}}
    </button>
  }
</tui-tabs>

<div class="grid grid-cols-5 gap-2 my-4">
  @for (size of sizes(); track $index) {
    <button
      (click)="active.set(size.value)"
      [ngClass]="{
        'bg-white text-primary': size.value !== active() && !size.added,
        '!text-white bg-black/60 border-none': size.added,
        'bg-primary text-white': size.value === active(),
        }"
      [disabled]="size.disabled"
      class="cursor-pointer flex col-span-1 items-center justify-center h-12 font-light text-xl border border-primary transition-colors duration-300 rounded-md disabled:opacity-40 hover:bg-primary hover:text-white hover:opacity-40"
    >
      {{size.value}}
    </button>
  }
</div>

<span class="underline text-lg text-black/60 flex my-3">Как выбрать размер?</span>
