<a
  class="border-gray-200 pb-3"
  [class.border-b]="!last()"
  [routerLink]="detail().order_number"
>
  <div class="flex justify-between mb-4">
    <div class="flex flex-col gap-2">
      <span class="text-sm md:text-lg font-semibold flex">№<div>{{ detail().order_number }}</div></span>
      @switch (detail().delivery_type) {
        @case ('cdek_pickup') {
          @if (detail().delivery_track_number) {
            <span class="text-sm font-semibold flex">Трек номер:{{ detail().delivery_track_number }}</span>
          }
          <span class="text-sm font-semibold text-black/40 flex">Пункт выдачи СДЭК: {{ detail().delivery_data?.name }}</span>
        }
        @case ('russian_post') {
          @if (detail().delivery_track_number) {
            <span class="text-sm font-semibold flex">Трек номер:{{ detail().delivery_track_number }}</span>
          }
          <span class="text-sm font-semibold text-black/40 flex">Пункт выдачи Почта России: {{ detail().delivery_data?.name }}</span>
        }
        @case ('cdek_courier') {
          <span class="text-sm font-semibold text-black/40 flex">Курьером СДЭК: {{ detail().delivery_data?.name }}</span>
        }
      }
    </div>

    <div class="flex justify-end">
      @if (detail().status === 'photo_report_ready') {
        <div class="sn-btn flex items-center rounded-3xl! gap-1 text-white">
          Оплатить и заказать
          <svg-icon key="right" size="xs" />
        </div>
      } @else if (detail().status === 'ready_for_pickup') {
        <div class="flex flex-col gap-2 text-end items-end">
          <span class="text-green-600 flex gap-1 text-lg items-center">
            <span class="text-white bg-green-600 w-6 h-6 rounded-full flex items-center justify-center">
              <svg-icon key="checked" />
            </span>
            Готов к выдачи
          </span>

          <span class="text-[#B21010B2] font-semibold">
            Срок хранения заказа: до {{detail().delivery_type === 'cdek_pickup' ? 7 : 15}} января
          </span>
        </div>
      } @else {
        <span class="text-lg text-end">{{orderSteps()[activeStep()].label}}</span>
      }
    </div>
  </div>

  <div class="flex w-full gap-2 overflow-y-auto">
    @for (item of detail().items; track item.id) {
      <div class="min-w-38 w-38 flex flex-col gap-2">
        <div
          class="w-full h-38 bg-secondary rounded-md cursor-pointer"
        >
          <img
            [src]="item.product_image_url"
            alt=""
            [style.mix-blend-mode]="'multiply'"
            class="w-full h-full object-contain"
          >
        </div>

        <div>
          <h3 class="text-lg font-semibold">{{ item.brand_name }}</h3>
          <span class="text-sm text-black/40">{{ item.product_name }}</span>
        </div>
      </div>
    }
  </div>
</a>
