<div class="container mb-10 mt-5 md:mt-0">
  <tui-breadcrumbs class="mb-4">
    @for (item of items; track $index) {
      <a
        *tuiItem
        tuiLink
        [routerLink]="item.routerLink"
        [class.!text-primary]="$last"
      >
        {{ item.caption }}
      </a>
    }
  </tui-breadcrumbs>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 relative">
    <div class="col-span-1">
      <div class="hidden md:flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">Фильтры</h3>

        <product-filter-price />

        <div class="flex flex-col overflow-hidden w-full">
          <div class="flex gap-2 w-full items-center cursor-pointer" (click)="changeOpen( 'size')">
            <icon-list [icon]="openFilters().size ? 'minus' : 'plus'" class="text-primary w-10 h-10 flex items-center justify-center"/>
            <span class="text-lg text-primary font-semibold">Размер</span>
          </div>

          <div
            class="overflow-hidden w-full duration-300"
            [class.max-h-0]="!openFilters().size"
            [class.max-h-screen]="openFilters().size"
          >
            <product-filter-size />
          </div>
        </div>

        <div class="flex flex-col overflow-hidden w-full">
          <div class="flex gap-2 w-full items-center cursor-pointer" (click)="changeOpen( 'brand')">
            <icon-list [icon]="openFilters().brand ? 'minus' : 'plus'" class="text-primary w-10 h-10 flex items-center justify-center"/>
            <span class="text-lg text-primary font-semibold">Бренд</span>
          </div>

          <div
            class="overflow-hidden w-full duration-300"
            [class.max-h-0]="!openFilters().brand"
            [class.max-h-screen]="openFilters().brand"
          >
            <product-filter-brand />
          </div>
        </div>
      </div>

      <button
        (click)="openFilter.set(true)"
        class="flex md:hidden w-full items-center justify-center bg-gray-100 gap-2 text-primary rounded-md py-3"
      >
        <icon-list icon="filter"/>
        Фильтры
      </button>

      <mobile-filter [(openFilter)]="openFilter" />
    </div>

    <div class="md:col-span-2 lg:col-span-3">
      <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="nextPage()"
      >
        @for (product of products(); track product.spuId) {
          <product-list-detail [detail]="product"/>
        }
      </div>
    </div>
  </div>
</div>
