<div class="container mb-10 mt-5 md:mt-0">
  <tui-breadcrumbs class="mb-4">
    @for (item of items; track $index) {
      <a
        *tuiItem
        tuiLink
        [routerLink]="item.routerLink"
        [class.!text-primary]="$last"
      >
        {{ item.caption }}
      </a>
    }
  </tui-breadcrumbs>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 relative">
    <div class="col-span-1">
      <div class="hidden md:flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">Фильтры</h3>

        <product-filter-price/>

        <div class="flex flex-col overflow-hidden w-full">
          <div class="flex gap-2 w-full items-center cursor-pointer" (click)="changeOpen( 'size')">
            <icon-list [icon]="openFilters().size ? 'minus' : 'plus'"
                       class="text-primary w-10 h-10 flex items-center justify-center"/>
            <span class="text-lg text-primary font-semibold">Размер</span>
          </div>

          <div
            class="overflow-hidden w-full duration-300"
            [class.max-h-0]="!openFilters().size"
            [class.max-h-screen]="openFilters().size"
          >
            <product-filter-size/>
          </div>
        </div>

        <div class="flex flex-col overflow-hidden w-full">
          <div class="flex gap-2 w-full items-center cursor-pointer" (click)="changeOpen( 'brand')">
            <icon-list [icon]="openFilters().brand ? 'minus' : 'plus'"
                       class="text-primary w-10 h-10 flex items-center justify-center"/>
            <span class="text-lg text-primary font-semibold">Бренд</span>
          </div>

          <div
            class="overflow-hidden w-full duration-300"
            [class.max-h-0]="!openFilters().brand"
            [class.max-h-[200vh]]="openFilters().brand"
          >
            <product-filter-brand/>
          </div>
        </div>
      </div>

      <button
        (click)="openFilter.set(true)"
        class="flex md:hidden w-full items-center justify-center bg-gray-100 gap-2 text-primary rounded-md py-3"
      >
        <icon-list icon="filter"/>
        Фильтры
      </button>

      <mobile-filter [(openFilter)]="openFilter"/>
    </div>

    <div class="md:col-span-2 lg:col-span-3">
      <button
        class="sn-btn default !py-1 !bg-gray-100 border-none w-30 justify-center hidden md:flex items-center gap-2 hover:!text-primary mb-4"
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="open"
        [tuiObscuredEnabled]="open"
        (click)="onClick()"
        (tuiActiveZoneChange)="onActiveZone($event)"
        (tuiObscured)="onObscured($event)"
      >
        Сортировка
        <span
          class="text-xl duration-300 transition-transform"
          [class.rotate-180]="open"
        >
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>

        <ng-template #dropdownContent>
          <div class="w-50 flex flex-col gap-1 px-2 py-1">
            @for (item of sorts; track item.name) {
              <div class="flex justify-between items-center py-2 border-b border-gray-200 last:border-none cursor-pointer" (click)="sort.set(item)">
                <span>{{item.name }}</span>

                <input
                  [(ngModel)]="sort"
                  tuiRadio
                  type="radio"
                  [value]="item"
                  size="s"
                />
              </div>
            }
          </div>
        </ng-template>
      </button>
      <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="nextPage()"
      >
        <a href="https://t.me/sneakerteamru" target="_blank" class="cursor-pointer">
          <img ngSrc="images/product/team.png" alt="" class="w-full object-cover h-76 mb-2 hidden md:block" height="600"
               width="531">
          <img ngSrc="images/product/team-sm.png" alt="" class="w-full object-cover min-h-50 h-50 mb-2 md:hidden object-top" height="600"
               width="531">

          <div>
            <h4 class="md:text-xl font-semibold mb-2 md:mb-4">Ранний доступ к релизу - только в Telegram</h4>
            <h4 class="text-xs md:text-sm text-gray-400 truncate mb-2 underline">Перейти в Telegram</h4>
          </div>
        </a>
        <div routerLink="/information/gift-certificate" class="cursor-pointer">
          <img ngSrc="images/product/give-cert.png" alt="" class="w-full object-cover h-76 mb-2 hidden md:block" height="600"
               width="531">
          <img ngSrc="images/product/give-cert-sm.png" alt="" class="w-full object-cover min-h-50 h-50 mb-2 md:hidden object-top" height="600"
               width="531">

          <div>
            <h4 class="md:text-xl font-semibold mb-2 md:mb-4">Подарочный сертификат</h4>
            <h4 class="text-xs md:text-sm text-gray-400 truncate mb-2 underline">Оформить в 2 клика</h4>
          </div>
        </div>

        @for (product of products(); track product.id) {
          <product-list-detail [detail]="product"/>
        }
      </div>
    </div>
  </div>
</div>
