<div class="flex flex-col gap-1">
  <div class="flex gap-1">
    <span class="font-semibold">Даниил</span>
    <span class="text-gray-500">{{ '@daniel_creator_01' }}</span>
  </div>
  <div class="flex gap-1 items-center">
    <span class="font-semibold">New Balance 574 “Grey/Sky Blue”</span>
    <span class="flex gap-0.5">
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
      </span>
  </div>
  <span class="text-gray-500">6 месяцев назад</span>
  <p>Пользуюсь услугами этого магазина, и пока ни разу не разочаровался. Условия возврата очень удобные, так что можно не переживать, если модель не подойдет.</p>

  <div class="flex gap-2">
    <img ngSrc="images/product/comment-1.png" alt="" class="h-32 w-44 object-cover rounded-xl" height="396" width="530">
    <img ngSrc="images/product/comment-2.png" alt="" class="h-32 w-44 object-cover rounded-xl" height="379" width="524">
  </div>
</div>
