@if (comment(); as commentData) {
  <div class="flex flex-col gap-1">
    <div class="flex gap-1">
      <span class="font-semibold">{{commentData.user_name}}</span>
    </div>
    <div class="flex gap-1 items-center">
      <span class="flex gap-0.5">
        @for (isFilled of stars(); track $index) {
          <icon-list icon="star" [class.opacity-30]="!isFilled" />
        }
      </span>
    </div>
    <span class="text-gray-500">{{timeAgo()}}</span>
    <p>{{commentData.text}}</p>

    @if (commentData.images && commentData.images.length > 0) {
      <div class="flex gap-2 w-full flex-wrap">
        @for (image of commentData.images; track image) {
          <img
            [src]="image.url"
            [alt]="'Comment image ' + $index"
            (click)="previewVisible.set(true); index.set($index)"
            class="h-20 md:h-32 w-24 md:w-44 object-cover rounded-xl cursor-pointer"
          >
        }
      </div>
    }


    <ng-template [(tuiPreviewDialog)]="previewVisible">
      <tui-preview>
        <tui-preview-pagination
          [length]="commentData.images.length"
          [(index)]="index"
        />

        <button
          iconStart="@tui.x"
          tuiIconButton
          tuiPreviewAction
          type="button"
          (click)="previewVisible.set(false)"
        >
          Close
        </button>

        <img
          *polymorpheusOutlet="commentData.images[index()] as src"
          alt="preview"
          [src]="src.url"
        />
      </tui-preview>
    </ng-template>
  </div>
}
