<span class="line mt-8 mb-4"></span>

<contacts-product [product]="detail()" />

<span class="line mt-8 mb-4"></span>

<div
  class="flex justify-between items-center cursor-pointer"
  [cdkCopyToClipboard]="detail().article"
  (cdkCopyToClipboardCopied)="copy()"
>
  <div class="flex flex-col gap-1">
    <span>Артикул</span>
    <span class="text-xl font-bold">{{detail().article}}</span>
  </div>
  <span>
    @if (copySuccess()) {
      <icon-list icon="checked" />
    } @else {
      <icon-list icon="copy" />
    }
  </span>
</div>

<span class="line mt-8 mb-4"></span>

<div
  class="flex flex-col gap-2 duration-300 overflow-hidden"
  [class.max-h-8]="!openDescription()"
  [class.max-h-120]="openDescription()"
>
  <div class="flex justify-between items-center cursor-pointer" (click)="openDescription.set(!openDescription())">
    <span class="text-primary text-xl font-bold">Описание</span>

    @if (openDescription()) {
      <icon-list icon="minus" class="w-8  h-8 flex items-center justify-center" />
    } @else {
      <icon-list icon="plus" class="w-8 h-8 flex items-center justify-center" />
    }
  </div>
  <p style="white-space: pre-wrap;" [innerHTML]="detail().description"></p>
</div>

<span class="line mt-8 mb-4"></span>

<div
  class="flex flex-col gap-2 duration-300 overflow-hidden"
  [class.max-h-8]="!openProperties()"
  [class.max-h-100]="openProperties()"
>
  <div class="flex justify-between items-center cursor-pointer" (click)="openProperties.set(!openProperties())">
    <span class="text-primary text-xl font-bold">Характеристики</span>

    @if (openProperties()) {
      <icon-list icon="minus" class="w-8  h-8 flex items-center justify-center" />
    } @else {
      <icon-list icon="plus" class="w-8 h-8 flex items-center justify-center" />
    }
  </div>
  <div class="flex flex-col gap-1">
    @for (property of detail().properties; track property.key) {
      <div>
        <span class="text-primary">{{property.key}}:</span>
        <span class="text-primary">
          @for (value of property.value; track value) {
            {{value}}@if (!$last) {,}
          }
        </span>
      </div>
    }
  </div>
</div>

<span class="line mt-8 mb-4"></span>

<a class="flex justify-between items-center cursor-pointer" routerLink="/information/payment">
  <div class="flex flex-col gap-1">
    <span class="text-xl font-bold">Доставка и оплата</span>
  </div>
</a>

<span class="line mt-4 mb-4"></span>

<div class="flex justify-between items-center cursor-pointer" (click)="openCertificate()">
  <div class="flex gap-1 items-center -ml-2">
    <img ngSrc="images/original.png" alt="original" height="50" width="70">
    <span class="text-xl font-bold">Оригинальный товар</span>
  </div>

  <span class="text-2xl pr-4">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </span>
</div>
