<h3 class="text-2xl font-bold">Вас может заинтересовать</h3>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
  @for (product of products(); track product.spuId) {
    <product-list-detail [detail]="product"/>
  }
</div>

@if (products()?.length === 8) {
  <button
    class="sn-btn secondary w-full"
    routerLink="/product/filter"
    [queryParams]="{
      category1: category().category1,
      category2: category().category2,
      category3: category().category3
    }"
  >
    Показать все
  </button>
}
