<div class="relative w-full overflow-hidden">

  <!-- Slider Container with smooth scroll -->
  <div class="slider-wrapper">
    <div
      class="flex transition-transform duration-500 ease-in-out h-40 md:h-60 lg:h-100"
      [style.transform]="'translateX(-' + (activeIndex() * 100) + '%)'"
    >
      @for (banner of banners.value()?.top_banners || []; track $index) {
        <div class="w-full shrink-0">
          <img [src]="banner.image_desktop" [alt]="banner.title" class="w-full h-full object-cover rounded-2xl">
<!--          @switch (slide) {-->
<!--            @case ('guarantee-original') {-->
<!--              <guarantee-original class="w-full" />-->
<!--            }-->

<!--            @case ('meet-team') {-->
<!--              <meet-team class="w-full" />-->
<!--            }-->

<!--            @case ('real-rate') {-->
<!--              <banner-real-rate class="w-full" />-->
<!--            }-->

<!--            @case ('split') {-->
<!--              <banner-split class="w-full" />-->
<!--            }-->

<!--            @case ('telegram') {-->
<!--              <banner-telegram class="w-full" />-->
<!--            }-->
<!--          }-->
        </div>
      }
    </div>
  </div>

</div>

<div class="flex gap-2 md:gap-4 justify-center py-4 md:py-10 w-full">
  @for (_ of banners.value()?.top_banners || []; track $index) {
    <div
      class="w-14 md:w-20 h-[5.6px] transition-colors duration-300 cursor-pointer"
      [class.bg-gray-300]="activeIndex() !== $index"
      [class.bg-gray-900]="activeIndex() === $index"
      [class.cursor-default]="activeIndex() === $index"
      [style.clip-path]="'polygon(10% 0, 100% 0, 90% 100%, 0 100%)'"
      (click)="activeIndex.set($index)"
    ></div>
  }
</div>
