<div class="flex flex-col gap-2 overflow-hidden px-2">
  <tui-tabs [(activeItemIndex)]="activeIndex">
    @for (size of sizeTables(); track size.type) {
      <button
        tuiTab
        type="button"
      >
        {{size.type}}
      </button>
    }
  </tui-tabs>

  <div class="grid grid-cols-2 gap-2 mt-2">
    @for (size of sizeTables()?.[activeIndex()]?.values; track size) {
      <div class="flex gap-1">
        <input
          tuiCheckbox
          type="checkbox"
          [ngModel]="checkSize(size)"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="clickSize(size)"
          size="s"
          [id]="size"
        />
        <label class="cursor-pointer" [for]="size">{{size}}</label>
      </div>
    }
  </div>
</div>
