
:root {
  --tui-background-accent-1: black !important;
  --tui-background-accent-2: black !important;
  --tui-radius-s: 2px !important;
}

* {
  font-family: Inter, sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

.color-base {
  color: #222222;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar visually */
}
