
:root {
  --tui-background-accent-1: #222 !important;
  --tui-background-accent-2: #222 !important;
  --tui-background-accent-2-hover: #222 !important;
  --tui-background-accent-1-hover: rgba(34, 34, 34, 0.73) !important;
  --t-bg: #222 !important;
  --tui-radius-s: 2px !important;
}

* {
  font-family: Inter, sans-serif;
  //color: #222222;
}

html, body {
  scroll-behavior: smooth;
}

.color-base {
  color: #222222;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar visually */
}
