<h3 class="font-semibold text-2xl">Отзывы на этот товар</h3>

<div class="flex flex-col gap-3">
  <div class="flex gap-2">
    <h4 class="text-4xl font-semibold">5.0</h4>
    <div>
      <span class="flex gap-0.5">
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
      </span>
      <div class="flex gap-2 text-gray-500">
        <span>29 оценок</span>
        <span>20 отзывов</span>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col gap-1">
  <div class="flex gap-1">
    <span class="font-semibold">Даниил</span>
    <span class="text-gray-500">{{ '@daniel_creator_01' }}</span>
  </div>
  <div class="flex gap-1">
    <span class="font-semibold">New Balance 574 “Grey/Sky Blue”</span>
    <span class="flex gap-0.5">
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
        <icon-list icon="star" />
      </span>
  </div>
  <span class="text-gray-500">6 месяцев назад</span>
  <p>Пользуюсь услугами этого магазина, и пока ни разу не разочаровался. Условия возврата очень удобные, так что можно не переживать, если модель не подойдет.</p>
</div>
