<div class="container hidden md:flex justify-between items-center py-4 gap-4">
  <div class="flex gap-10 items-center md:w-1/2 xl:w-[70%]">
    <img
      ngSrc="images/logo/logo.png"
      alt="site logo"
      routerLink="/"
      class="object-contain cursor-pointer"
      width="98"
      height="40"
    >
    <div class="flex gap-6 overflow-x-auto">
      <span
        routerLink="/product/filter"
        class="text-base font-medium color-base cursor-pointer"
      >
        Обувь
      </span>
      <span class="text-base font-medium color-base">Одежда</span>
      <span class="text-base font-medium color-base">Аксессуары</span>
      <span class="text-base font-medium color-base cursor-pointer" routerLink="/information/reviews">Отзывы</span>
      <span class="text-base font-medium color-base cursor-pointer text-nowrap" routerLink="/information/payment">Доставка и оплата</span>
      <span class="text-base font-medium color-base">Блог</span>
      <span class="text-base font-medium color-base cursor-pointer" routerLink="/information/contact">Контакты</span>
    </div>
  </div>

  <div class="flex gap-2 items-center w-1/2 xl:w-[30%] justify-end">
    <div class="sn-control !w-110 !py-1">
      <icon-list icon="search" class="sn-control-icon"/>
      <input
        type="text"
        placeholder="Введите бренд или название модели"
      >
    </div>
    <div class="py-1 px-2 cursor-pointer">
      <icon-list icon="favorite"/>
    </div>
    @if (basketProductCount()) {
      <tui-badged-content>
        <tui-badge-notification
          size="s"
          tuiSlot="top"
        >
          {{ basketProductCount() || 1 }}
        </tui-badge-notification>
        <div
          class="py-1 px-2 cursor-pointer"
          routerLink="/basket"
        >
          <icon-list icon="basket"/>
        </div>
      </tui-badged-content>
    } @else {
      <div
        class="py-1 px-2 cursor-pointer"
        routerLink="/basket"
      >
        <icon-list icon="basket"/>
      </div>
    }
    @if (isAuthed()) {
      <div
        class="text-xl cursor-pointer rounded-md py-1 px-2"
        [ngClass]="{'bg-black text-white': open}"
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="open"
        [tuiObscuredEnabled]="open"
        tuiDropdownAlign="center"
        (click)="onClick()"
        (tuiActiveZoneChange)="onActiveZone($event)"
        (tuiObscured)="onObscured($event)"
      >
        <i class="fa fa-user-o"></i>
      </div>
    } @else {
      <div
        class="text-xl cursor-pointer rounded-md py-1 px-2"
        (click)="openAuthentication()"
      >
        <i class="fa fa-user-o"></i>
      </div>
    }

    <ng-template #dropdownContent>
      <div class="grid grid-cols-1 flex-col gap-2 w-50 p-2">
        <div class="menu-item" routerLink="/profile/main">
          Управление профилем
        </div>
        <div class="menu-item">
          Заказы
        </div>
        <div class="menu-item">
          Реферальная ссылка
        </div>
        <div class="menu-item !border-gray-400">
          Программа лояльности
        </div>
        <div class="menu-item border-none" (click)="logout()">
          Выйти
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="fixed bottom-0 left-0 right-0 py-4 bg-gray-100 z-20 w-[100wv] h-[80px] flex justify-center md:hidden">
  <div class="w-[90%] flex justify-between items-end relative">
    <button
      class="sn-btn !py-4.5 absolute left-0 top-1/2 -translate-y-1/2 w-[85%] overflow-hidden duration-300 transition-all text-nowrap z-20"
      [class.max-w-[85%]]="openCartBtn()"
      [class.max-w-0]="!openCartBtn()"
      [class.!px-0]="!openCartBtn()"
      (click)="openMobileCart()"
    >
      @if (addedCart()) {
        Перейти в корзину
      } @else {
        Добавить в корзину
      }
    </button>
    <div class="flex flex-col items-center navbar-item" routerLink="/home" routerLinkActive="active">
      <icon-list class="h-7 unactive" icon="home" />
      <icon-list class="h-7 active" icon="home-active" />
      <span class="text-xs">Главная</span>
    </div>
    <div class="flex flex-col items-center navbar-item" routerLink="/product/filter" routerLinkActive="active">
      <icon-list class="h-7 unactive" icon="search"/>
      <icon-list class="h-7 active" icon="search-active"/>
      <span class="text-xs">Поиск</span>
    </div>
    @if (basketProductCount()) {
      <tui-badged-content>
        <tui-badge-notification
          size="s"
          tuiSlot="top"
        >
          {{ basketProductCount() }}
        </tui-badge-notification>
        <div
          routerLink="/basket"
          routerLinkActive="active"
          class="flex flex-col items-center text-xl navbar-item"
        >
          <icon-list class="h-7 flex items-center unactive" icon="basket"/>
          <icon-list class="h-7 flex items-center active" icon="basket-active"/>
          <span class="text-xs text-primary">Корзина</span>
        </div>
      </tui-badged-content>
    } @else {
      <div class="flex flex-col items-center text-xl navbar-item">
        <icon-list class="h-7 flex items-center" icon="basket"/>
        <span class="text-xs">Корзина</span>
      </div>
    }
    @if (isAuthed()) {
      <div class="flex flex-col items-center navbar-item" routerLink="/profile" routerLinkActive="active">
        <icon-list class="h-7 unactive" icon="profile"/>
        <icon-list class="h-7 active" icon="profile-active"/>
        <span class="text-xs">Профиль</span>
      </div>
    } @else {
      <div
        class="flex flex-col items-center"
        (click)="openAuthentication()"
      >
        <icon-list class="h-7" icon="profile"/>
        <span class="text-xs">Профиль</span>
      </div>
    }

    <div class="flex flex-col items-center" (click)="openMobileNavbar.set(!openMobileNavbar())">
      <span class="text-2xl flex items-center h-7">
        <div
          class="burger"
          [class.active]="openMobileNavbar()"
        >
          <span></span>
        </div>
      </span>
      <span class="text-xs">Меню</span>
    </div>
  </div>
</div>

<div
  class="fixed inset-0 bg-white backdrop-blur-md z-10 w-full h-[calc(100vh-80px)] transition-transform duration-300 py-5"
  [class.translate-x-full]="!openMobileNavbar()"
>
  <div class="w-full flex justify-center items-center">
    <img
      ngSrc="images/logo/logo.png"
      alt="site logo"
      routerLink="/"
      class="object-contain cursor-pointer w-20 h-10"
      width="1047"
      height="420"
    >
  </div>

  <div class="flex flex-col gap-4 mt-4 px-6 pb-4 mx-4 text-lg border-b border-gray-200">
    <span>Обувь</span>
    <span>Одежда</span>
    <span>Аксессуары</span>
    <span class="cursor-pointer" routerLink="/information/reviews">Отзывы</span>
    <span class="cursor-pointer" routerLink="/information/payment">Доставка и оплата</span>
    <span>Блог</span>
    <span class="cursor-pointer" routerLink="/information/contact">Контакты</span>
  </div>
  <span class="flex gap-2 items-center px-6 py-4 mx-4 text-lg cursor-pointer">
    Избранные
    	<img
        alt=""
        [src]="'@tui.heart' | tuiIcon"
      />
  </span>

  <div class="bg-gray-200 rounded-lg p-2 mx-10 mt-4 flex gap-2 relative">
    <img ngSrc="images/logo/poizon.png" class="object-cover w-10 h-10 rounded-lg" alt="" height="92" width="92">
    <span class="font-semibold w-2/3">Рассчитать стоимость товара из Poizon</span>
    <span class="text-2xl absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  </div>
</div>
