<div class="container flex justify-between items-center py-4">
  <div class="flex gap-10 items-center">
    <img ngSrc="images/logo/logo.png" alt="" class="object-contain" width="98" height="40">
    <div class="flex gap-6">
      <span class="text-base font-medium color-base">Обувь</span>
      <span class="text-base font-medium color-base">Одежда</span>
    </div>
  </div>

  <div class="flex gap-6 items-center">
    <div class="bg-gray-100 rounded-lg flex items-center gap-2 px-4 py-2 w-100">
      <icon-list icon="search" />
      <input
        type="text"
        placeholder="Введите бренд или название модели"
        class="bg-transparent outline-none w-full placeholder:text-gray-400"
      >
    </div>
    <icon-list icon="favorite" />
    <icon-list icon="basket" />
    <icon-list icon="profile" />
  </div>
</div>
