<div
  class="w-full rounded-3xl h-full flex flex-col justify-between items-center py-1 md:py-10"
  style="background-image: url('/images/background/silder-5.png'); background-size: cover; background-position: center"
>
  <div class="text-center flex flex-col gap-0 md:gap-4">
    <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-primary">SPLIT</h2>
    <span class="text-xs md:text-lg w-70 md:w-100">Платите половину сейчас, а вторую после фото отчета со склада в Китае</span>
  </div>

  <div class="flex gap-2 md:gap-4">
    <div class="w-40 md:w-100 bg-primary rounded-xl px-2 md:px-4 py-1 md:py-3 text-white flex flex-col md:gap-2 relative">
      <span class="text-lg md:text-2xl">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </span>
      <h4 class="text-xs md:text-sm lg:text-lg">Сегодня</h4>
      <h3 class="text-sm md:text-xl lg:text-2xl">5 500 р.</h3>

      <img ngSrc="images/home/split-1.png" alt="" height="410" class="w-40 md:w-80 h-20 md:h-60 object-contain absolute rotate-y-200 -rotate-30 -right-7 md:-right-2 -top-2 md:-top-16" width="707">
    </div>

    <div class="w-25 md:w-40 bg-white rounded-xl px-2 md:px-4 py-1 md:py-3 text-primary flex flex-col md:gap-2 relative">
      <span class="text-lg md:text-2xl">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </span>
      <h4 class="text-xs md:text-sm lg:text-lg">Через 5 дней</h4>
      <h3 class="text-sm md:text-xl lg:text-2xl">5 500 р.</h3>

      <img ngSrc="images/home/split-2.png" alt="" height="161" class="w-24 md:w-60 h-14 md:h-40 object-contain absolute rotate-10 -right-4 md:-right-14 -top-6 md:-top-24" width="346">
    </div>
  </div>
</div>
