<div
  class="w-full rounded-3xl h-full flex flex-col items-end justify-center p-4 text-primary gap-3 text-end"
  style="background-image: url('/images/background/slider-2.png'); background-size: cover; background-position: center"
>
  <h2 class="text-7xl font-bold uppercase">Telegram</h2>
  <span class="text-lg w-110">Пройди авторизацию на сайте с помощью Telegram и получай уведомления о статусе заказа в нашем удобном боте - приложении магазина </span>
  <button class="sn-btn flex gap-2 w-80 justify-center items-center !py-4">
    Перейти
    <icon-list icon="telegram-outline" />
  </button>
</div>
