<div
  routerLink="/product/detail/{{detail().spuId}}"
  class="relative flex flex-col h-50 bg-gray-100 rounded-2xl p-3 cursor-pointer"
>
  <div class="flex justify-between">
    <span class="px-2 py-0.5 rounded-2xl bg-orange-500 text-white">Быстро разбирают</span>

    <tui-icon
      icon="@tui.heart"
    />
  </div>
  <img
    [src]="detail().first_image"
    alt="product list detail"
    style="mix-blend-mode: multiply;"
    class="w-full h-full object-contain"
  >
</div>

<div>
  <h4 class="text-lg font-semibold">{{detail().brand}}</h4>
  <h4 class="text-sm text-gray-400 truncate">{{detail().name}}</h4>

  <span class="text-base font-semibold">{{detail().price | tuiFormatNumber | async}} p.</span>
  <div class="flex gap-0.5 items-center">
    <span class="py-0.5 px-1 bg-primary/80 rounded text-white text-xs">{{detail().price / 2 | tuiFormatNumber | async}} p. x 2</span>
    <span class="text-gray-500 text-xs">Сплит</span>
  </div>
</div>
