.sn-btn {
  @apply bg-primary text-white rounded-md px-4 py-2 transition-colors duration-300;

  &:focus {
    background-color: #0A0A0A;
    outline: none;
  }

  &:hover {
    opacity: .9;
  }

  &:disabled {
    opacity: .7;
  }

  &.default {
    background-color: transparent;
    @apply text-primary border border-primary;

    &:hover {
      opacity: 1;
      @apply bg-primary text-white;
    }
  }

  &.secondary {
    @apply text-primary border-none bg-gray-100;

    &:hover {
      opacity: 1;
      @apply bg-primary text-white;
    }
  }
}
